<%= link_to "Back to Users", root_path %>

<h1>Login</h1>

<%= form_for @user, { url: session_path } do |f| %>
	Email: <%= f.text_field :email, placeholder: "@" %><br />
	Password: <%= f.password_field :password, placeholder: "password" %><br />
	<%= f.submit %>
<% end %>

<%= link_to "Sign up", new_path %>