<h1>Edit</h1>

<%= form_for @user do |f| %>
	Change Name: <%= f.text_field :name, placeholder: "change name" %><br />
	Change Email: <%= f.text_field :email, placeholder: "@" %><br />
	New Password: <%= f.password_field :password, placeholder: "password" %><br />
	Confirm Password: <%= f.password_field :password_confirmation, placeholder: "password" %><br />
	<%= f.submit %>
<% end %>

<%= link_to "Back to Users", root_path %>
