<%# render 'loginmodal' %>

<h1>Users#index</h1>
<p>Users in the database</p>

<ul>
	<% @users.each do |u| %>
		<li>
			<strong> <%= link_to "#{u.name}", user_path(u) %></strong>
		</li>
	<% end %>
</ul>

<%= form_for @user do |f| %>
Email: <%= f.text_field :email, placeholder: "@" %><br />
Password: <%= f.password_field :password, placeholder: "password" %><br />
<%= f.submit %>
<% end %>
<%= link_to "Sign up", new_path %>