<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Login</h3>
      </div>
      <div class="modal-body">
      	<div class="form-group">
      		<button ng-click="sclogin()" class="btn btn-warning col-md-6 col-md-offset-3">Login through Soundcloud</button>
      		<br />
      		<br />
      	</div>
				<%= form_for @user_login, { url: session_path } do |f| %>
					<div class="form-group">
						Email:
						<div class="input-group">
							<div class="input-group-addon">@</div>
							<%= f.text_field :email, placeholder: "Enter email", :class => "form-control" %><br />
						</div>
						Password: <%= f.password_field :password, placeholder: "Password", :class => "form-control" %><br />
					</div>
					<%= link_to "Sign up", new_path %>
      </div>
      <div class="modal-footer">
					<%= f.submit "Login", {:class => 'btn btn-primary'} %>
					<% end %>
      </div>
    </div>
  </div>
</div>