<!DOCTYPE html>
<html ng-app="soundcloudApp">
<head>
  <title>Backstage</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src="http://connect.soundcloud.com/sdk.js"></script>
	<script>
		// initialize client with app credentials
		SC.initialize({
		  client_id: 'f43e5fe0023f09c558e18747e7c4c708',
		  redirect_uri: 'http://localhost:3000'
		});

		// initiate auth popup
		// SC.connect(function() {
		//   SC.get('/me', function(me) { 
		//     alert('Hello, ' + me.username); 
		//     console.log(me);
		//   });
		// });
	</script>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/header' %>
	<%= render 'layouts/login' %>

	<div class="content">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>
		
		<div class="container" ng-controller="appCtrl">
			<%= yield %>

			<!-- <input type="text" ng-model="testString" ng-change="sclogin()"> -->
			<button ng-click="sclogin()">Click Me</button>
			{{ data }}
		</div>
	</div>

</body>
</html>
